@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:wdth,wght@75..100,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 0 24px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 64px;
    color: rgb(244, 205, 13);
}

h2 {
    font-size: 48px;
}

.fa-lemon {
    font-size: 80px;
    color: rgb(244, 205, 13);
}


/* 

NAVIGATION

*/

.nav__container {
    width: 100%;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__info {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.title {
    padding: 12px;
    color: black;
}

.nav__links {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.nav__link:hover {
    color: rgb(247, 157, 172);
}

.nav__link,
.nav__btn {
    margin: 24px 36px;
    font-size: 24px;
    font-weight: 700;
    color: black;
    letter-spacing: 1.5px;
}

.nav__btn {
    border: 2px solid black;
    border-radius: 50px;
    background-color: transparent;
    padding: 12px;
    cursor: pointer;
}

.nav__btn:hover {
    border: 2px solid rgb(244, 205, 13);
    color: rgb(244, 205, 13);
}

/* 

MAIN 

*/

.main__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    margin-top: 80px;
}

input {
    border-radius: 50px;
    padding: 24px;
    margin-top: 24px;
    width: 500px;
    font-size: 20px;
}

.main__search--input {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
}

.main__divide {
  background-image: url("https://hesterandcook.com/cdn/shop/files/WP102.jpg?v=1692387187&width=1100");
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  height: 100px;
  position: relative;
}







