@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:wdth,wght@75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(250, 250, 199);
}

section {
    padding: 0 24px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 64px;
    color: rgb(207, 36, 21);
    letter-spacing: 8px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 300;
    color: rgb(207, 36, 21);
}


/* 

NAVIGATION

*/

.nav__container {
    margin-top: 28px;
    width: 100%;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__img {
    height: 200px;
    width: 200px;
}

.title {
    padding: 12px;
    color: black;
}

.nav__links {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.nav__link {
    position: relative;
}

.nav__link::after,
.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;        /* this controls the space under the text */
  width: 100%;
  height: 2px;         /* thickness of the underline */
  background-color: rgb(207, 36, 21);
  opacity: 0;
}

.nav__link:hover::after,
.footer__link:hover::after {
  opacity: 1;
  transition: opacity 800ms ease;
}

.nav__link,
.nav__btn {
    margin: 28px;
    font-size: 24px;
    font-weight: 700;
    color: black;
    letter-spacing: 1.5px;
}

.nav__btn {
    border: 2px solid black;
    border-radius: 50px;
    background-color: transparent;
    padding: 12px;
    cursor: pointer;
}

.nav__btn:hover {
    border: 2px solid rgb(207, 36, 21);
    color: rgb(207, 36, 21);
}

.nav__btn:active {
    border: 2px solid black;
    background-color: black;
    color: white;
}

/* 

MAIN 

*/

.main__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    margin-top: 80px;
}

input {
    font-size: 36px;
}

.main__search {
    width: 60%;
}

.main__search--input {
    padding-left: 12px;
}

.search__bar {
    border: 1px solid black;
    padding: 12px;
    border-radius: 50px;
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.search__bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

.search__button {
    border: none;
    border-radius: 50px;
    padding: 18px;
    background-color: rgb(238, 238, 128);
    font-size: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


.search__button:hover {
    background-color: rgb(236, 236, 59);
}

.search__button:active {
    background-color: black;
}

.fa-magnifying-glass {
    color: rgba(62, 61, 61, 0.541);
}

.fa-magnifying-glass:active {
    color: white;
}

.main__divide {
  background-image: url("https://as1.ftcdn.net/v2/jpg/11/43/67/68/1000_F_1143676850_XnmVUkznjAB0qqy3upigJ88gdMvRskoz.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  height: 200px;
  position: relative;
}

/* 

OPTIONS 

*/

.options__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.hidden {
    display: none;
}

.options__title,
.search__name {
    font-size: 36px;
    letter-spacing: 4px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}

/* 

MOVIES

*/

.movie__container {
    width: 100%;
}

.movies__row {
    margin-top: 48px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: calc(100% / 4 - 80px);
    margin: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.movie__poster {
    border-radius: 24px;
    width: 100%;
    height: 550px;
}

.movie__title {
    padding-top: 12px;
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.movie__year {
    padding-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

#movieSort {
    transition: all 1000ms ease;
}

/* 

FOOTER

*/

footer {
    margin-top: 64px;
    margin-bottom: 48px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.footer__img {
    height: 100px;
    width: 100px;
}

.footer__list {
    display: flex;
    justify-content: center;
}

.footer__link {
    position: relative;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin: 12px 48px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}


/* 

RESPONSIVE 

*/

@media (max-width: 1300px) {

    .movie {
    width: calc(100% / 3 - 80px);
    }

    .movie__poster {
    border-radius: 24px;
    width: 100%;
    height: 450px;
}
}

@media (max-width: 768px) {

.movie {
    width: calc(100% / 2 - 40px);
}

.movie__poster {
    border-radius: 24px;
    width: 100%;
    height: 450px;
}

.nav__img {
    height: 100px;
    width: 100px;
}

h2 {
    font-size: 36px;
}

.nav__link {
    display: none;
}

.nav__btn {
    font-size: 12px;
}

h1 {
    font-size: 36px;
}

.main__search {
    width: 70%;
}

.main__divide {
    height: 100px;
}

.options__title,
.search__name {
    font-size: 24px;
    letter-spacing: 2px;
}

.search__name {
    margin-right: 12px;
}

select {
    font-size: 10px;
    max-width: 150px;
}

@media (max-width: 480px) {

.movie {
    width: 100%;
}

.movie__poster {
    border-radius: 24px;
    width: 100%;
    height: 550px;
}

.nav__container {
    height: 100px;
}

.nav__img {
    height: 50px;
    width: 50px;
}

h2 {
    font-size: 28px;
}

.nav__link {
    display: none;
}

.nav__btn {
    font-size: 12px;
}

h1 {
    font-size: 28px;
}

.main__row {
    display: flex;
    justify-content: center;
}

.main__search--input {
    font-size: 18px;
    width: 50%;
}

.fa-magnifying-glass {
    font-size: 18px;
}

.search__bar {
    width: 100%;
    padding: 8px;
}

.main__divide {
    height: 80px;
}

.options__title,
.search__name {
    font-size: 18px;
    letter-spacing: 2px;
}

.search__name {
    margin-right: 12px;
}

select {
    font-size: 10px;
    max-width: 100px;
}

.footer__link {
    margin: 12px 24px;
}
}







