@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:wdth,wght@75..100,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 0 24px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 64px;
    color: rgb(244, 205, 13);
}

h2 {
    font-size: 48px;
}

.fa-lemon {
    font-size: 80px;
    color: rgb(244, 205, 13);
}


/* 

NAVIGATION

*/

.nav__container {
    width: 100%;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__info {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.title {
    padding: 12px;
    color: black;
}

.nav__links {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.nav__link {
    position: relative;
}

.nav__link::after,
.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;        /* this controls the space under the text */
  width: 100%;
  height: 2px;         /* thickness of the underline */
  background-color: rgb(244, 205, 13);
  opacity: 0;
}

.nav__link:hover::after,
.footer__link:hover::after {
  opacity: 1;
  transition: opacity 800ms ease;
}

.nav__link,
.nav__btn {
    margin: 24px 36px;
    font-size: 24px;
    font-weight: 700;
    color: black;
    letter-spacing: 1.5px;
}

.nav__btn {
    border: 2px solid black;
    border-radius: 50px;
    background-color: transparent;
    padding: 12px;
    cursor: pointer;
}

.nav__btn:hover {
    border: 2px solid rgb(244, 205, 13);
    color: rgb(244, 205, 13);
}

/* 

MAIN 

*/

.main__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    margin-top: 80px;
}

input {
    border-radius: 50px;
    padding: 24px;
    margin-top: 24px;
    width: 500px;
    font-size: 20px;
}

.main__search {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  top: 53%;
  right: 16px;
}

.main__divide {
  background-image: url("https://hesterandcook.com/cdn/shop/files/WP102.jpg?v=1692387187&width=1100");
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  height: 100px;
  position: relative;
}

/* 

OPTIONS 

*/

.options__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

/* 

FOOTER

*/

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.footer__list {
    display: flex;
    justify-content: center;
}

.footer__link {
    position: relative;
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin: 12px 48px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}







